---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">My complete list of publications can also be accessed on <a href="https://scholar.google.com.hk/citations?user=OIZR2YYAAAAJ&hl=zh-CN">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<ul class="publication-list">
  <li class="publication-item">
    <a href="https://arxiv.org/pdf/2406.13672" target="_blank">Q-SNNs: Quantized Spiking Neural Networks.</a>
      <a href="https://example.com/link-to-slide" target="_blank">[Slide]</a> | 
      <a href="https://example.com/link-to-poster" target="_blank">[Poster]</a> 
    <div class="name">
    <font color="#BF09B4">Wenjie Wei</font>, Yu Liang, Ammar Belatreche, Yichen Xiao, Honglin Cao, Zhenbang Ren, Guoqing Wang, Malu Zhang*, Yang Yang
    </div>
  </li>
  
  <li class="publication-item">
    <h3><a href="https://openaccess.thecvf.com/content/ICCV2023/papers/Wei_Temporal-Coded_Spiking_Neural_Networks_with_Dynamic_Firing_Threshold_Learning_with_ICCV_2023_paper.pdf" target="_blank">Temporal-coded Spiking Neural Networks with Dynamic Firing Threshold: Learning with Event-Driven Backpropagation.</a></h3>
      <a href="https://example.com/link-to-slide" target="_blank">[Slide]</a> | 
      <a href="https://example.com/link-to-poster" target="_blank">[Poster]</a> 
    <div class="name"><font color="#BF09B4">Wenjie Wei</font>, Malu Zhang*, Hong Qu, Ammar Belatreche, Jian Zhang, Hong Chen</div>
  </li>
</ul>

<!-- CSS Styling -->
<style>
  .publication-list {
    list-style-type: none;
    padding: 0;
  }

  .publication-item {
    margin-bottom: 8px; /* 调整项与项之间的间距 */
  }

  .publication-item h3 {
    font-size: 1em;
    color: #2c3e50;
    margin-bottom: 4px; /* 调整标题与链接之间的间距 */
  }

  .publication-item .links {
    font-size: 0.9em; /* 小一些的字体 */
    margin-bottom: 4px; /* 使链接与后面的作者名字之间间距更小 */
  }

  .publication-item .links a {
    color: #3498db;
    font-size: 1em;
    text-decoration: none;
    margin-right: 10px;
  }

  .publication-item .links a:hover {
    text-decoration: underline;
  }
  
  .name{
    font-size: 0.9em; /* 作者名字的字体大小 */
  }
</style>
