---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">My complete list of publications can also be accessed on <a href="https://scholar.google.com.hk/citations?user=OIZR2YYAAAAJ&hl=zh-CN">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<ul class="publication-list">
  <li class="publication-item">
    <h3><a href="https://openaccess.thecvf.com/content/ICCV2023/papers/Wei_Temporal-Coded_Spiking_Neural_Networks_with_Dynamic_Firing_Threshold_Learning_with_ICCV_2023_paper.pdf" target="_blank">Temporal-coded Spiking Neural Networks with Dynamic Firing Threshold: Learning with Event-Driven Backpropagation.</a></h3>
    <br> <font color="#BF09B4">Wenjie Wei</font>, Malu Zhang*, Hong Qu, Ammar Belatreche, Jian Zhang, Hong Chen
  </li>
  
  <li class="publication-item">
    <h3><a href="https://arxiv.org/pdf/2406.13672" target="_blank">Q-SNNs: Quantized Spiking Neural Networks.</a></h3>
  </li>
</ul>
