---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">My complete list of publications can also be accessed on <a href="https://scholar.google.com.hk/citations?user=OIZR2YYAAAAJ&hl=zh-CN" style="text-decoration: none;">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<h2>Published Papers</h2>
<ol class="publication-list">
  <li class="publication-item">
    <a href="https://openreview.net/pdf?id=CyCDqnrymT" style="text-decoration: none;" target="_blank">Spike-based Neuromorphic Model for Sound Source Localization.</a> NeurIPS 2024.
    <div class="name">Dehao Zhang†, Shuai Wang†, Ammar Belatreche, <font color="#BF09B4">Wenjie Wei</font>, Yichen Xiao, Haorui Zheng, Zijian Zhou, Malu Zhang*, Yang Yang</div>
  </li>
  <li class="publication-item">
    <a href="https://arxiv.org/pdf/2406.13672" style="text-decoration: none;" target="_blank">Q-SNNs: Quantized Spiking Neural Networks.</a> 
      <a href="/files/海报v2-无致谢.pdf" target="_blank" class="poster-link">[Poster]</a> ACM MM 2024.
    <div class="name">
    <font color="#BF09B4">Wenjie Wei</font>, Yu Liang, Ammar Belatreche, Yichen Xiao, Honglin Cao, Zhenbang Ren, Guoqing Wang, Malu Zhang*, Yang Yang
    </div>
  </li>
  <li class="publication-item">
    <a href="https://arxiv.org/pdf/2406.13179" style="text-decoration: none;" target="_blank">Global-Local Convolution with Spiking Neural Networks for Energy-efficient Keyword Spotting.</a> <span class="cjname">Interspeech 2024</span>.
    <div class="name">Shuai Wang, Dehao Zhang, Kexin Shi, Yuchen Wang, <font color="#BF09B4">Wenjie Wei</font>, Jibin Wu, Malu Zhang*</div>
  </li>
  <li class="publication-item">
    <a href="https://openaccess.thecvf.com/content/ICCV2023/papers/Wei_Temporal-Coded_Spiking_Neural_Networks_with_Dynamic_Firing_Threshold_Learning_with_ICCV_2023_paper.pdf" style="text-decoration: none;" target="_blank">Temporal-coded Spiking Neural Networks with Dynamic Firing Threshold: Learning with Event-Driven Backpropagation.</a>
    <a href="/files/120width.pdf" target="_blank" class="poster-link">[Poster]</a> ICCV 2023. 
    <div class="name"><font color="#BF09B4">Wenjie Wei</font>, Malu Zhang*, Hong Qu, Ammar Belatreche, Jian Zhang, Hong Chen</div>
  </li>
</ol>

<h2>Under Review Papers</h2>
<ol>
  <li class="publication-item">
    <a href="https://arxiv.org/pdf/2407.05310" style="text-decoration: none;" target="_blank">Ternary spike-based neuromorphic signal processing system.</a> 2024.5.
    <div class="name">Shuai Wang, Dehao Zhang, Ammar Belatreche, Yichen Xiao, Hongyu Qing, <font color="#BF09B4">Wenjie Wei</font>, Malu Zhang*, Yang Yang</div>
  </li>
  <li class="publication-item">
    <a href="https://arxiv.org/pdf/2403.00270" style="text-decoration: none;" target="_blank">Event-driven learning for spiking neural networks.</a> 2024.1.
    <div class="name"><font color="#BF09B4">Wenjie Wei</font>, Malu Zhang*, Jilin Zhang, Ammar Belatreche, Jibin Wu, Zijing Xu, Xuerui Qiu, Hong Chen, Yang Yang, Haizhou Li</div>
  </li>
</ol>

<!-- CSS Styling -->
<style>
  .publication-list {
    list-style-type: decimal; 
    padding: 0;
  }

  .publication-item {
    margin-bottom: 5px; /* 调整项与项之间的间距 */
  }

  .publication-item h3 {
    font-size: 1em;
    color: #2c3e50;
    margin-bottom: 4px; /* 调整标题与链接之间的间距 */
  }

  .publication-item .links {
    font-size: 0.9em; /* 小一些的字体 */
    margin-bottom: 4px; /* 使链接与后面的作者名字之间间距更小 */
  }

  .publication-item .links a {
    color: #3498db;
    font-size: 1em;
    text-decoration: none;
    margin-right: 10px;
  }

  .publication-item .links a:hover {
    text-decoration: underline;
  }
  
  .poster-link, .name{
    font-size: 0.9em; /* 作者名字的字体大小 */
  }
  .poster-link{
    font-style: italic;
  }
  
  ol {
  list-style-position: inside;  /* 让标号和内容对齐 */
  margin: 0;                    /* 去除默认的外边距 */
  padding-left: 20px;            /* 为了给标号腾出空间 */
}

ol.publication-list {
  padding-left: 20px;            /* 确保所有列表项有相同的左边距 */
}

ol.publication-list li {
  margin-bottom: 10px;           /* 增加每个列表项之间的间距 */
}
a {
color: #007bff;  /* 可选，设置超链接颜色 */
}
</style>
